<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="spring" class="cn.kgc.spring.HelloSpring">
        <property name="helloSpring" value="hahaha"></property>
    </bean>

    <bean id="user" class="cn.kgc.bean.User">
        <property name="id" value="1"></property>
        <property name="name" value="任志强"></property>
    </bean>
</beans>